/*==Search-Banner========================*/
#search-banner{ 
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    background-color: #ecf7ee;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: bottom right;
    padding: 20px;
    display: flex;
    align-items: center;
}

body.dark #search-banner{
    background-color: #232323;
}
.bg-1{
    position: absolute;
    left: -50px;
    top: -150px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}
.bg-2{
    position: absolute;
    left: 60%;
    transform: translateX(-60%);
    top: -75px;
    width: 150px;
    height: 150px;
    object-position: center;
    object-fit: contain;
}
.search-banner-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 70px;
    position: relative;
}
.search-banner-text h1{
    font-size: 3rem;
    line-height: 55px;
    color: #202020;
}
body.dark .search-banner-text h1{
    color: #fafafa;
}
.search-banner-text strong{
    color: #4eb060;
    font-size: 1.4rem;
    margin-top: 4px;
}
.search-boxs{
    background-color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 0px 5px 0px 20px;
    border-radius: 30px;
    border: 2px solid black; /* Add a white border */
}
body.dark .search-boxs{
    background-color: #202020;
    border: 2px solid white; /* Add a white border */
}
.search-boxs i{
    font-size: 1.3rem;
    color: #3b3b3b;
    margin: 0px 10px;
}
body.dark .search-boxs i{
    color: #a7a7a7;
}
.search-boxs .search-inputs{
    height: 40px;
    border: none;
    width: 100%;
    padding: 0px 10px;
    outline: none;
    color: black;
}
body.dark .search-boxs .search-inputs{
    color: #fafafa;
    background-color: #232323;
}
.search-boxs .search-btns{
    width:220px;
    height: 40px;
    border-radius: 30px;
    background-color: #4eb060;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}
body.dark .search-boxs .search-btns{
    color: #232323;
}
.search-boxs .search-btns:hover{
    background-color: #5ccf71;
    transition: all ease 0.3s;
}
/*==category================================*/
#category,
#popular-product,
#popular-bundle-pack,
#partner{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}
.category-heading,
.product-heading,
.partner-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-heading h2,
.product-heading h3,
.partner-heading h3{
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
}

body.dark .category-heading h2, body.dark
.product-heading h3, body.dark
.partner-heading h3{
    color: #fafafa;
}
.category-heading span,
.product-heading span{
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}

body.dark .category-heading span,
.product-heading span{
    color: #393939;
}
.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 25px;
    min-height: 130px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.03);
    transition: all 0.3s ease; /* Smooth transition for the effect */
}
.category-box.active {
    border: 3px solid gold; /* Change border color to gold when active */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
    0 8px 16px rgba(0, 0, 0, 0.1), 
    0 16px 24px rgba(0, 0, 0, 0.1); /* Elevated shadow effect */
    transform: translateY(-10px); /* Lift the box up slightly */
}
.category-box img{
    height: 35px;
    width: 50px;
    object-fit: contain;
    object-position: center;
    transition: all ease 0.1s;
}
.category-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
}

.showall.active span{
    color: #202020;
    font-weight: 500;
}
body.dark .showall.active span{
    color: #fafafa;
    font-weight: 500;
}
body.dark .category-box.active {
    border: 3px solid gold; /* Change border color to gold when active */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1), 
                0 8px 16px rgba(255, 255, 255, 0.1), 
                0 16px 24px rgba(255, 255, 255, 0.1); /* Elevated shadow effect */
    transform: translateY(-10px); /* Lift the box up slightly */
}
body.dark .category-box{
    background-color: #232323;
    border: 1px solid rgba(255, 255, 255, 1);

}
.category-box span{
    color: #393939;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
}
body.dark .category-box span{
    color: #ecf7ee;
}


/*==popular-product========================*/
#popular-product{
    margin: 80px auto;
}
.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    margin: 40px 0px;
}
.product-box img{
    width: 90%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
}
.product-box{
    width: 100%;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

body.dark .product-box{
    border: 1px solid #ffffff;
    background-color: #232323;
    
}
.product-box strong{
    color: #202020;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
}
body.dark .product-box strong{
    color: #ffffff;
}
.product-box .quantity{
    color: #949494;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}
body.dark .product-box.quantity{
    color: #ffff;
}
.product-box .price{
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #393939;
}
body.dark .product-box .price{
    color: #eeee;
}
.product-box .cart-btn{
    width:100%;
    height: 40px;
    background-color: #ecf7ee;
    color: #4eb060;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all ease 0.3s;
}
.product-box .cart-btn i{
    margin-right: 10px;
}
.product-box .cart-btn:hover{
    background-color: #4eb060;
    color: #ffffff;
    transition: all ease 0.3s;
}
.product-box .view-btn{
    position: absolute;
    right: 30px;
    top: 20px;
    color: #c9c9c9;
    font-size: 1.3rem;
}
 
/*==popular-bundle-pack==========================*/
#popular-bundle-pack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1150px;
    margin: 50px auto;
    padding: 60px 0px 20px 0px;
    border-radius: 20px;
    background-color: #ecf7ee;
    border: 1px solid #f3f3f3;
    align-items: center;
}
body.dark #popular-bundle-pack{
    background-color: #232323;
    border: 1px solid #f3f3f3;
}
.product-container,
.product-heading{
    max-width: 1000px;
    width: 100%;
}

/* RESPONSIVENESS */

.menu-icon,
.menu-btn{
    display: none;
}
@media(max-width:1280px){
    #search-banner{
        width:1150px;
    }
}
@media(max-width:1200px){
    #search-banner{
        width:90%;
        height: 500px;
    }
    #popular-bundle-pack,
    #popular-product,
    #download-app{
        width: 90%;
    }
    #popular-bundle-pack{
        padding: 50px 30px 0px 30px;
    }
}
@media(max-width:1050px){
    .bg-1{
        width: 150px;
        height: 150px;
        top: -20px;
    }
    #search-banner{
        background-size: 700px;
    }
    #category,
    #partner{
        width: 90%;
    }
}
@media(max-width:965px){
    .navigation{
        justify-content: space-between;
        height: 65px;
        padding: 35px 25px;
    }
    .logo{
        font-size: 1.2rem;
    }
    .navigation .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        z-index: 100;
        background-color: #ffffff;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid rgba(245,245,245);
    }
    .navigation .menu li{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 30px 20px;
        margin: 0px;
        border: 1px solid rgba(248,247,247,0.5);
    }
    .menu-icon{
        display: block;
    }
    .navigation .menu-icon{
        cursor: pointer;
        float: right;
        padding: 5px;
        position: relative;
        user-select: none;
        z-index: 2;
    }
    .navigation .menu-icon .nav-icon{
        background-color: #141414cc;
        display: block;
        height: 2px;
        width: 25px;
        position: relative;
        transition: background 0.2s ease-out;
    }
    .navigation .menu-icon .nav-icon::before,
    .navigation .menu-icon .nav-icon::after{
        background-color: #141414cc;
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all ease-out 0.2s;
    }
    .navigation .menu-icon .nav-icon::before{
        top: 7px;
    }
    .navigation .menu-icon .nav-icon::after{
        top: -7px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    } 
    .navigation .menu-btn:checked ~ .menu{
        display: block;
    }   
 
    #search-banner{
        height: 400px;
        background-size: 500px;
    }
    .bg-2{
        width: 100px;
        height: 100px;
        top: -50px;
    }
    .category-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .category-box{
        margin: 10px;
    }
    .product-container{
        grid-template-columns: 1fr 1fr;
    }
    .client-box-container{
        grid-template-columns: 1fr 1fr;
    }
    .partner-heading{
        justify-content: center;
    }
    .logo-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo-container img{
        margin: 10px;
    }
    #download-app{
        flex-direction: column;
        height: 100%;
        background-color: transparent;
        margin-top: 0px;
        width: 90%;
        max-width: 100%;
    }
    .app-img{
        height: 450px;
        width: 220px;
    }
    .download-app-text{
        max-width: 100%;
        background-color: #ecf7ee;
        padding: 20px;
        border-radius: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer-links{
        text-align: center;
    }
}
@media(max-width:750px){
    #search-banner{
        height: 300px;
    }
    .search-banner-text{
        margin-left: 20px;
    }
    .search-banner-text h1{
        font-size: 2rem;
        line-height: 30px;
    }
    .bg-1{
        display: none;
    }
    .client-box-container{
        grid-template-columns: 1fr;
    }
}
@media(max-width:500px){
    #search-banner{
        height: 200px;
        background-size: 300px;
    }
    .search-banner-text{
        margin-left: 0px;
        max-width: 100%;
    }
    .search-banner-text h1{
        font-size: 1.3rem;
    }
    .search-box{
        width: 100%;
        max-width: 100%;
        height: 40px;
        padding-left: 10px;
    }
    .search-box i{
        font-size: 1rem;
    }
    .search-box .search-btn{
        height: 30px;
    }
    .category-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
    .category-box{
        width: 100%;
        margin: 0px;
    }
    .product-container{
        grid-template-columns: 1fr;
    }
    #popular-bundle-pack{
        padding: 30px 20px 0px 20px;
    }
    .footer-container{
        grid-template-columns: 1fr;
    }
    .footer-links{
        margin-top: 10px;
    }
}
@media(max-width:400px){
    .category-heading h2,
    .product-heading h3,
    .client-heading h3,
    .partner-heading h3{
        font-size: 1.2rem;
    }
}
@media(max-width:350px){
    .download-btns{
        flex-direction: column;
    }
    .download-btns a{
        margin: 4px 0px;
        width: 140px;
    }
    .download-btns a img{
        width: 100%;
    }
    .right-nav{
        grid-gap: 5px;
    }
}


/* Modal styles */
.product-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100% !important; /* Full width */
    height: 100% !important; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 30px;
    padding-bottom: 30px;
}

.product-modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

.product-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.product-modal-close:hover,
.product-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.product-modal-content img {
    max-width: 400px !important;
    height: auto;
    margin-bottom: 20px;
}