main {
    margin-top: 20px;
    height: 85%;
    display: flex;
    column-gap: 100px;
}

main .checkout-form {
    width: 50%;
    margin-left: 20px;

}

main .checkout-form form .form-control {
    margin: 10px 0px;
    position: relative;
}

main .checkout-form form .form-control label:not([for="checkout-checkbox"]) {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2px;
}

body.dark .checkout-form h3 {
    color: #fff;
}

main .checkout-form form .form-control input:not([type="checkbox"]) {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    border: 0.2px solid #4e5150 85;
    /* font-size: 12px; */
    font-weight: 700;
}

.dropdown-alamat {
    padding: 10px 10px 10px 40px;
    width: 186px;
}

main .checkout-form form .form-control input:not([type="checkbox"])::placeholder {
    font-size: 10px;
    font-weight: 500;
}

main .checkout-form form .form-control label[for="checkout-checkbox"] {
    font-size: 9px;
    font-weight: 500;
    line-height: 10px;
}

main .checkout-form form .form-control>div {
    position: relative;
}

main .checkout-form form .form-control>div span.icon {
    position: absolute;
    top: 53%;
    left: 0%;
    transform: translate(15px, -50%);
}

main .checkout-form form .form-group {
    display: flex;
    column-gap: 100px;
}

main .checkout-form form .checkbox-control {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

main .checkout-form form .form-control-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main .checkout-form form .form-control-btn button {
    padding: 15px 30px;
    font-size: 10px;
    color: #fff;
    background: blue;
    border: 0;
    border-radius: 7px;
    letter-spacing: 0.5px;
    font-weight: 600;
    cursor: pointer;
}


main .checkout-details {
    width: 40%;
}

main .checkout-details .checkout-details-inner {
    background: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
}

body.dark main .checkout-details .checkout-details-inner {
    background: #333;
}

main .checkout-details .checkout-details-inner .checkout-lists {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 40px;
}

main .checkout-details .checkout-details-inner .checkout-lists .card-product {
    width: 100%;
    display: flex;
    column-gap: 15px;
}

main .checkout-details .checkout-details-inner .checkout-lists .card-product .card-image {
    width: 35%;
}

main .checkout-details .checkout-details-inner .checkout-lists .card-product .card-image img {
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
}

main .checkout-details .checkout-details-inner .checkout-lists .card-product .card-details {
    display: flex;
    flex-direction: column;
}

main .checkout-details .checkout-details-inner .checkout-lists .card-product .card-details .card-name {
    font-size: 15px;
    font-weight: bold;
}

body.dark main .checkout-details .checkout-details-inner .checkout-lists .card-product .card-details .card-name {
    color: white;
}

body.dark span.count {
    color: white;
}

main .checkout-details .checkout-details-inner .checkout-lists .card-product .card-details .card-price {
    font-size: 15px;
    font-weight: bold;
    color: #f2994a;
    margin-top: 5px;
}

main .checkout-details .checkout-details-inner .checkout-lists .card-product .card-details .card-price span {
    color: #4e5150;
    text-decoration: line-through;
    margin-left: 10px;
}

main .checkout-details .checkout-details-inner .checkout-lists .card-product .card-details .card-wheel {
    margin-top: 17px;
    border: 0.2px solid #4e5150 85;
    width: 90px;
    padding: 8px 8px;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

main .checkout-details .checkout-details-inner .checkout-lists .card-product .card-details .card-wheel button {
    background: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
}

main .checkout-details .checkout-details-inner .checkout-shipping,
main .checkout-details .checkout-details-inner .checkout-total {
    display: flex;
    font-size: 25px;
    padding: 5px 0px;
    border-top: 1px solid #bdbdbd;
    justify-content: space-between;
}

main .checkout-details .checkout-details-inner .checkout-shipping p,
main .checkout-details .checkout-details-inner .checkout-total p {
    font-size: 16px;
    font-weight: bold;
}

body.dark .checkout-details-inner .checkout-total p {
    color: white;
}

body.dark .checkout-details-inner .checkout-total h6 {
    color: white;
}

body.dark .form-control label {
    color: #fff;
}

.total {
    font-size: 18px;
}

@media screen and (max-width: 1024px) {
    main {
        column-gap: 70px;
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 50px;
    }

    main .checkout-form {
        width: 90%;
        margin-top: 35px;
        margin-left: 25px;
    }

    main .checkout-details {
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;

    }

    main .checkout-form form .form-group {
        column-gap: 10px;
    }

    footer {
        height: 10%;
    }
}