.history-container {
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Bayangan lebih tebal untuk tema terang */
    border-radius: 8px; /* Opsional: menambahkan sudut membulat */
}

body.dark .history-container {
    background-color: #232323;
    box-shadow: 0 4px 16px rgba(255, 255, 255, 0.5); /* Bayangan lebih tebal untuk tema gelap */
    border-radius: 8px; /* Opsional: menambahkan sudut membulat */
}

body.dark .history-container p{
    color: white;
}

body.dark .history-container h6{
    color: white;
}

body.dark .history-container .complete{
    color: rgb(34 197 94 / var(--tw-text-opacity));
}

.history-container .complete{
    color: rgb(34 197 94 / var(--tw-text-opacity));
}

body.dark .history-section h2{
    color: #ffff;
}



.history-section{

}