
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  /* Atau warna latar belakang yang Anda inginkan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Pastikan preloader di atas konten lainnya */
}

body.dark #preloader{
  background-color: rgb(43, 43, 43);
}

#container {
  display: none;
  /* Sembunyikan konten saat preloader aktif */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
