

.search-bar {
    margin-top: 100px;
    max-width: 100%;
    padding: 0 15px;
}

.container-s{
    margin-top: 45px;
}

.user-s {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.user-icon-s {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 20px;
    background: #fff;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15),
                4px 4px 10px rgba(0, 0, 0, 0.1),
                6px 6px 15px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.user-icon-s:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2),
                4px 4px 20px rgba(0, 0, 0, 0.15),
                6px 6px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}


.user-info-s {
    flex: 1;
}

.user-name-s {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.user-description-s {
    font-size: 14px;
    color: black;
}

body.dark .user-name-s {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

body.dark .user-description-s {
    font-size: 14px;
    color: #fff;
}

.clear-all {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    #stores
    .user-s {
        margin: 10px 15px;
    }

    .user-icon-s {
        width: 60px;
        height: 60px;
    }

    .user-name-s {
        font-size: 25px;
    }

    .user-description-s {
        font-size: 15px;
    }

    .button {
        padding: 8px 15px;
        font-size: 15px;
    }

    .clear-all {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .user-s {
        margin: 5px 10px;
    }

    .user-icon-s {
        width: 50px;
        height: 50px;
    }

    .user-name-s {
        font-size: 18px;
    }

    .user-description-s {
        font-size: 10px;
    }

    .button {
        padding: 6px 12px;
        font-size: 12px;
    }

    .clear-all {
        font-size: 12px;
    }
}
