@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #ffff;
    --sidebar-color: #ffff;
    --primary-color: #0000ff;
    --primary-color-light: #f6f5ff;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

}

body{
    margin-left: 88px;
    /* width: calc(100vw - 120px); */
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* Sidebar */

@media (max-width: 700px) {
    body{
        margin-left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--body-color);
        transition: var(--tran-05);
    }
    .sidebar {
        display: none;
    }
    .sidebar.close{
        display: none;

    }
    .sidebar.text{
        display: none;
    }
    .sidebar .search-box{
        display: none;

    }
    .menu-bar{
        display: none;
    }
    .nav-link.active{
        display: none;
    }
    .nav-link{
        display: none;

    }
    .bottom-content{
        display: none;
    }
    .header-text{
        display: none;
    }
}

@media (max-width: 800px) {
    body{
        margin-left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--body-color);
        transition: var(--tran-05);
    }
    .sidebar {
        display: none;
    }
    .sidebar.close{
        display: none;

    }
    .sidebar.text{
        display: none;
    }
    .sidebar .search-box{
        display: none;

    }
    .menu-bar{
        display: none;
    }
    .nav-link.active{
        display: none;
    }
    .nav-link{
        display: none;

    }
    .bottom-content{
        display: none;
    }
    .header-text{
        display: none;
    }
}

@media (max-width: 850px) {
    body{
        margin-left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--body-color);
        transition: var(--tran-05);
    }
    .sidebar {
        display: none;
    }
    .sidebar.close{
        display: none;

    }
    .sidebar.text{
        display: none;
    }
    .sidebar .search-box{
        display: none;

    }
    .menu-bar{
        display: none;
    }
    .nav-link.active{
        display: none;
    }
    .nav-link{
        display: none;

    }
    .bottom-content{
        display: none;
    }
    .header-text{
        display: none;
    }
}

.sidebar.close{
    width: 88px;
}

.sidebar.close .search-box input{
    opacity: 0;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content{
    margin-top: -10px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    z-index: 100;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3); /* Shadow on the right side */
}


.sidebar .menu{
    margin-top: 20px;
}

.sidebar li{
    height: 50px;
    margin-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

@keyframes borderFade {
    0% {
      border-color: var(--primary-color);
    }
    25%{
      border-color: lightblue;

    }
    50% {
        border-color: rgb(134, 216, 134);
    }
    75% {
        border-color: lightblue;
    }
    100% {
      border-color: var(--primary-color);
    }
  }

.sidebar .image-text img {
    border: 2.5px solid var(--primary-color);
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
    animation: borderFade 3s infinite;
    object-fit: cover; /* Ini akan membuat gambar terpotong untuk mengisi area */
}


  

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .email{
    margin-top: -2px;
}

.nav-link.active{
    background: var(--primary-color);
    border-radius: 8%;
    font-style: var(--sidebar-color);
}

body.dark .nav-link.active{
    background: var(--body-color);
}

.nav-link.active .icon{
    color: white;
}


.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar form {
    display: flex;
    width: 100%;
    height: 100%;
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--body-color);
    transition: var(--tran-05);
    color: black;
}

body.dark .search-box input{
    color: lightgray;
}

.sidebar .search-box{
    background: var(--body-color);
    border-radius: 6px;
    transition: var(--tran-05);
}

.sidebar li a:hover{
    background: var(--primary-color);
}


.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.body.dark .sidebar li a:hover .icon,
.body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}


.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logout{
    margin-bottom: 30px;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
    bottom: 15px;
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}
 
.sidebar.close header .toggle{
    transform: translateY(-50%) rotate(180deg);
}

.sidebar.close .text-header-text{
    opacity: 0;
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}
.sidebar .text-header-text{
    color: black;
}

body.dark .sidebar .text-header-text{
    color: lightgray;
}

@media (min-width: 764px) {
    .container{
        max-width: 764px;
    }
}

@media (min-width: 800px) {
    .container{
        max-width: 800px;
    }
}

@media (min-width: 995px) {
    .container{
        max-width: 995px;
    }
}

@media (min-width: 1000px) {
    .container{
        max-width: 1000px;
    }
}

@media (min-width: 1100px) {
    .container{
        max-width: 1100px;
    }
}

@media (min-width: 1270px) {
    .container{
        max-width: 1270px;
    }
}

@media (min-width: 1300px) {
    .container{
        max-width: 1300px;
    }
}

@media (min-width: 1400px) {
    .container{
        max-width: 1400px;
    }
}

@media (min-width: 1500px) {
    .container{
        max-width: 1500px;
    }
}

@media (min-width: 1665px) {
    .container{
        max-width: 1665px;
    }
}

@media (min-width: 1700px) {
    .container{
        max-width: 1700px;
    }
}

@media (min-width: 1800px) {
    .container{
        max-width: 1800px;
    }
}

@media (min-width: 1900px) {
    .container{
        max-width: 1900px;
    }
}

@media (min-width: 2000px) {
    .container{
        max-width: 2000px;
    }
}

body.dark .container{
    color: var(#18191A);
    background: #18191A;
}

body.dark .home{
    color: var(--body-color);
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 24px;
}

.home{
    position: relative;
    left: 88px;
    height:100vh;
    width: calc(100% - 88px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

footer {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

@media (max-width: 768px) {
    #footer-content {
        flex-direction: column; /* Ubah menjadi tata letak vertikal pada layar kecil */
    }
}

/* .loop-wrapper {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 600px;
    height: 250px;
    overflow: hidden;
    border-bottom: 3px solid #fff;
    color: #fff;
  }
  .mountain {
    position: absolute;
    right: -900px;
    bottom: -20px;
    width: 2px;
    height: 2px;
    box-shadow: 
      0 0 0 50px #4DB6AC,
      60px 50px 0 70px #4DB6AC,
      90px 90px 0 50px #4DB6AC,
      250px 250px 0 50px #4DB6AC,
      290px 320px 0 50px #4DB6AC,
      320px 400px 0 50px #4DB6AC
      ;
    transform: rotate(130deg);
    animation: mtn 20s linear infinite;
  }
  .hill {
    position: absolute;
    right: -900px;
    bottom: -50px;
    width: 400px;
    border-radius: 50%;
    height: 20px;
    box-shadow: 
      0 0 0 50px #4DB6AC,
      -20px 0 0 20px #4DB6AC,
      -90px 0 0 50px #4DB6AC,
      250px 0 0 50px #4DB6AC,
      290px 0 0 50px #4DB6AC,
      620px 0 0 50px #4DB6AC;
    animation: hill 4s 2s linear infinite;
  }
  .tree, .tree:nth-child(2), .tree:nth-child(3) {
    position: absolute;
    height: 100px; 
    width: 35px;
    bottom: 0;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
  }
  .rock {
    margin-top: -17%;
    height: 2%; 
    width: 2%;
    bottom: -2px;
    border-radius: 20px;
    position: absolute;
    background: #ddd;
  }
  .truck, .wheels {
    transition: all ease;
    width: 85px;
    margin-right: -60px;
    bottom: 0px;
    right: 50%;
    position: absolute;
    background: #eee;
  }
  .truck {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg) no-repeat;
    background-size: contain;
    height: 60px;
  }
  .truck:before {
    content: " ";
    position: absolute;
    width: 25px;
    box-shadow:
      -30px 28px 0 1.5px #fff,
       -35px 18px 0 1.5px #fff;
  }
  .wheels {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
    height: 15px;
    margin-bottom: 0;
  }
  
  .tree  { animation: tree 3s 0.000s linear infinite; }
  .tree:nth-child(2)  { animation: tree2 2s 0.150s linear infinite; }
  .tree:nth-child(3)  { animation: tree3 8s 0.050s linear infinite; }
  .rock  { animation: rock 4s   -0.530s linear infinite; }
  .truck  { animation: truck 4s   0.080s ease infinite; }
  .wheels  { animation: truck 4s   0.001s ease infinite; }
  .truck:before { animation: wind 1.5s   0.000s ease infinite; }
  
  
  @keyframes tree {
    0%   { transform: translate(1350px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  @keyframes tree2 {
    0%   { transform: translate(650px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  @keyframes tree3 {
    0%   { transform: translate(2750px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  
  @keyframes rock {
    0%   { right: -200px; }
    100% { right: 2000px; }
  }
  @keyframes truck {
    0%   { }
    6%   { transform: translateY(0px); }
    7%   { transform: translateY(-6px); }
    9%   { transform: translateY(0px); }
    10%   { transform: translateY(-1px); }
    11%   { transform: translateY(0px); }
    100%   { }
  }
  @keyframes wind {
    0%   {  }
    50%   { transform: translateY(3px) }
    100%   { }
  }
  @keyframes mtn {
    100% {
      transform: translateX(-2000px) rotate(130deg);
    }
  }
  @keyframes hill {
    100% {
      transform: translateX(-2000px);
    }
  } */